*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
}
body{
    background-color: #f6f6f6;
}
#bonanza{
    width: 100%;
}
#nav-1{
    background-color: #f6f6f6;
    padding: 8.5px;
    text-align: center;
    width: 100%;
    /* min-height: 39px; */
    display: inline-block;
}
a{
    text-decoration: none;
    color:#fff;

}
.xx{
    margin-right: 50px;
    max-height: 18px;
    max-width: 100px;
}
#nav-2{
    background-color: #ed017f;
    color: #4a4a4a;
    height: 60px;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 2vw;
}
#nav-2 img{
    margin-right: 3vw;
    height:35px;

}
.store-locator{
    padding: 15px 16px;
    height: 100%;
    color: #fff;

}
.sell-on-konga{
    padding: 15px 16px;
    height: 100%;
    color: #fff;

}
.input{
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 12px;
    height: 60%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.help{
    padding: 15px 16px;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    margin-right: .3125rem;
    color: #fff;
}
.login-signup{
    padding: 15px 16px;
    height: 100%;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-cart{
    padding: 15px 20px;
    /* width: 100%; */
    background-color: #33b27b;
    border-radius: 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text{
    color:#fff;
}
.zero{
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    font-weight: bolder;
    margin-left: 8px;
    padding: 3px 6px;
}
.q{
    height: 60%;
    background-color: #fba100;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-weight: bolder;
    /* outline: none; */
    width: 90px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nav-3{
    margin: 0 auto;
    max-width: 1440px;
    /* position: relative; */
    display: flex;
    background-color: #94004f;
}
.ss{
    padding: 12px 30px;
    /* color: #fff; */
}
.all-categories{
    /* padding-right: 0 30px 0 0; */
}
.c1{
    background-color: #fff;
    padding: 1px 30px;
    color: #1c1d1f;
}
.ado{
    font-size: 40px;
}
.home{
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 400;
}
.home a{
    color: #9a0052;
    font-weight: 700;
    display: inline-block;
    padding: 0 5px;
}
.banner-2 img{
    margin-top: 30px;
    /* max-height: 280px; */
    height: 266.828px;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
}
.flex-container{
    margin-bottom: 3.125rem;
    /* padding-left: .625rem;
    padding-right: .625rem; */
    display: flex;
    flex-wrap: wrap;
    padding-left: 2vw;
    padding-right: 2vw;

}
.flex-item{
    font-weight: 400;
    margin: 15px auto;
    /* height: 200px; */
  width: 100%;
    background-color: #fff;
    

}
.flex-item img{
    height: 200px;
}
.flex-item a{
    color: #1c1d1f;

}
.flex-item h3{
    border-bottom: .0625rem solid #f2f2f2;
    font-size: .9375rem;
    height: 2.8125rem;
    padding-bottom: .5rem;
    margin: .3125rem 0 .5rem;

}